/* Déclaration des variables CSS */
:root {
    --font-primary: 'Arial', sans-serif;
    --text-color: #555;
    --background-color: #f9f9f9;
    --accent-color: #6e3f8f;
    --white-color: #ffffff;
    --light-gray-color: #888;
    --dark-gray-color: #333;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

/* Styles généraux */
body {
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}
  
/* Conteneur de l'image d'arrière-plan */
.background-image {
    background-color: var(--accent-color);
    padding: 40px 20px;
    text-align: center;
}

/* Styles de l'en-tête */
header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 5px solid var(--white-color);
    transition: transform 0.3s ease-in-out;
}

header img:hover {
    transform: scale(1.05);
}

header h1, header h2 {
    color: var(--white-color);
}

header h1 {
    margin-top: 20px;
    font-size: 28px;
}

header h2 {
    margin: 10px 0;
    font-size: 22px;
}

/* Conteneur de l'en-tête */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    flex-grow: 1;
}

/* Image de l'en-tête */
.header-image img {
    border-radius: 10%;
    width: 200px;
    height: 200px;
}

/* Contenu de l'en-tête */
.header-content {
    flex-grow: 1;
    color: var(--white-color);
}

/* Styles de la section Contact */
.contact h6, .contact p {
    color: var(--white-color);
} 

/* Styles des sections */
section {
    padding: 20px;
    background-color: var(--white-color);
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px var(--shadow-color);
}

h2 {
    color: var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 10px;
    font-size: 24px;
}

article h3 {
    margin-top: 0;
    color: var(--dark-gray-color);
    font-size: 20px;
}

article h4 {
    margin-bottom: 5px;
    color: var(--light-gray-color);
}

/* Styles de la section Compétences */
#skills {
    text-align: center;
}

.skills-container {
    display: flex;
    justify-content: space-between;
}

.skill-info {
    flex-basis: 18%;
    text-align: center;
}

.skill-bar, .skill-level {
    height: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.skill-bar {
    background-color: #f1f1f1;
}

.skill-level-html, .skill-level-mysql, .skill-level-css, .skill-level-access, .skill-level-js {
    background-color: var(--accent-color);
}

.skill-level-html { width: 95%; }
.skill-level-mysql { width: 80%; }
.skill-level-css { width: 70%; }
.skill-level-access { width: 90%; }
.skill-level-js { width: 60%; }

/* Styles de la section Intérêts */
#interests {
    text-align: center;
}

.interests-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.interest {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: var(--accent-color);
    border-radius: 50%;
}

.icon-wrapper i {
    color: var(--white-color);
    font-size: 40px;
}

.interest-text {
    font-size: 20px;
}

/* Styles du pied de page */
footer {
    text-align: center;
    background-color: var(--accent-color);
    color: var(--white-color);
    padding: 20px 0;
}

footer p {
    margin: 0;
}

/* Grille d'expérience et d'éducation */
.experience-grid, .education-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.experience-item, .edu-item {
    background-color: var(--white-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px var(--shadow-color);
}

.experience-item h3, .edu-item h3 {
    margin-top: 0;
    color: var(--dark-gray-color);
}

.experience-item h4, .edu-item h4 {
    margin-bottom: 5px;
    color: var(--light-gray-color);
}

.experience-item p, .edu-item p {
    margin: 0;
}

#contact-item {
    margin-bottom: 10px;
    color: var(--white-color);
}
